h2 {
    color: #303e5c;
    font-size: 40px;
}

h3 {
    color: #303e5c;
    font-size: 30px;
}

#date {
    color: #303e5c;
    font-weight: 500;
}

.description {
    background-color: aliceblue;
    width: 300px;
    display: block;
    margin:auto;
    padding:20px;
    border-radius: 25px;
    border: 1px solid #303e5c;
}