h1 {
   text-shadow: 5px 5px 2px rgba(252, 199, 193, 0.8);
   color: #303e5c;
   font-weight: 800;
   font-size: 60px;
   margin-left: 10px;
   margin-bottom: 30px;
}

h2 {
   color: #303e5c;
   margin-left: 10px;
   font-weight: 700;
   font-size: 30px;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: pink wavy underline; color:#303e5c;}

a:active { text-decoration: none; }

a {
   color:#303e5c;
   font-weight: 600;
   font-size: 25px;
   margin-left: 10px;
   margin-top: 5px;
}
